.whitepaper-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-900);
}
.whitepaper-container01 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.whitepaper-main {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
  position: relative;
  max-width: 1320px;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-end;
}
.whitepaper-container02 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  z-index: 2;
  align-self: flex-end;
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-tripleunit);
  padding-top: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.whitepaper-text {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whitepaper-text01 {
  color: var(--dl-color-secondary-700);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.whitepaper-container03 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.whitepaper-textinput {
  width: 100%;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-secondary-100);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-triplequarterunit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-triplequarterunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-textinput:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #e9aede;
  border-color: var(--dl-color-pink-200);
}
.whitepaper-link {
  display: contents;
}
.whitepaper-container04 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.whitepaper-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient(310deg,#141727,#3a416f);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.whitepaper-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.whitepaper-grid {
  top: -20%;
  left: -35%;
  width: 70%;
  display: grid;
  grid-gap: var(--dl-space-space-doubleunit);
  position: absolute;
  transform: rotate(20deg);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.whitepaper-image {
  width: 100%;
}
.whitepaper-image1 {
  width: 100%;
  margin-top: -200px;
}
.whitepaper-image2 {
  width: 913px;
  height: 974px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: var(--dl-color-secondary-400);
  border-style: inset;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius40);
}
.whitepaper-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.whitepaper-divider {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.4),transparent);
}
.whitepaper-container05 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  position: relative;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.whitepaper-container06 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.whitepaper-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.whitepaper-text03 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whitepaper-text04 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.whitepaper-link1 {
  display: contents;
}
.whitepaper-icon {
  fill: var(--dl-color-secondary-400);
  width: 16px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.whitepaper-link2 {
  display: contents;
}
.whitepaper-icon2 {
  fill: var(--dl-color-secondary-400);
  width: 16px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.whitepaper-link3 {
  display: contents;
}
.whitepaper-icon4 {
  fill: var(--dl-color-secondary-400);
  width: 16px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.whitepaper-link4 {
  display: contents;
}
.whitepaper-icon6 {
  fill: var(--dl-color-secondary-400);
  width: 16px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.whitepaper-container09 {
  display: flex;
  justify-content: space-between;
}
.whitepaper-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.whitepaper-text05 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whitepaper-text06 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-text07 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-text08 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.whitepaper-text09 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whitepaper-text10 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-text11 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-text12 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.whitepaper-text13 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whitepaper-text14 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-text15 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-text16 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-text17 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-container13 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.whitepaper-text18 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whitepaper-text19 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-text20 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-text21 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.whitepaper-text22 {
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
}

@media(max-width: 991px) {
  .whitepaper-container01 {
    background-size: auto;
  }
  .whitepaper-main {
    justify-content: flex-start;
  }
  .whitepaper-container02 {
    width: 70%;
    align-self: flex-start;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-tripleunit);
  }
  .whitepaper-grid {
    top: 40%;
    left: auto;
    right: -6rem;
    bottom: -6rem;
  }
  .whitepaper-image {
    width: 120px;
  }
  .whitepaper-image1 {
    width: 120px;
  }
  .whitepaper-image2 {
    width: 120px;
  }
  .whitepaper-container05 {
    padding: var(--dl-space-space-doubleunit);
  }
  .whitepaper-container11 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .whitepaper-container12 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .whitepaper-container13 {
    margin-left: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .whitepaper-container02 {
    width: 100%;
  }
  .whitepaper-grid {
    right: 0;
  }
  .whitepaper-image {
    width: 100px;
  }
  .whitepaper-image1 {
    width: 100px;
  }
  .whitepaper-image2 {
    width: 100px;
  }
  .whitepaper-container06 {
    flex-direction: column;
  }
  .whitepaper-container07 {
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .whitepaper-container09 {
    flex-wrap: wrap;
  }
  .whitepaper-container10 {
    width: 50%;
    margin-left: 0px;
  }
  .whitepaper-container11 {
    width: 50%;
    margin-left: 0px;
  }
  .whitepaper-container12 {
    width: 50%;
    margin-left: 0px;
  }
  .whitepaper-container13 {
    width: 50%;
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .whitepaper-container03 {
    flex-direction: column;
  }
  .whitepaper-textinput {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
